Yeremenko_HW1/
Yeremenko_HW2/.vs/
Yeremenko_HW2/Yeremenko_HW2/obj/
Yeremenko_HW2/Yeremenko_HW2/bin/
TestProject/
Yeremenko_HW3/Yeremenko_HW3/obj/
Yeremenko_HW3/.vs/
Yeremenko_HW3/Yeremenko_HW3/bin/
Yeremenko_HW4/.vs/
Yeremenko_HW4/Yeremenko_HW4/obj/
Yeremenko_HW4/Yeremenko_HW4/bin/
Yeremenko_OOP/.vs/
Yeremenko_OOP/Yeremenko_OOP/bin/
Yeremenko_OOP/Yeremenko_OOP/obj/
